body{
    font-family: 'Open Sans', sans-serif;
}

header{ height: 300px;
        background: #50d0fd;
}
nav{
    float: left; 
    margin: 30px 30px 0 0;
}  
a.naa{
    color: white;
}
a.naa:hover{
    color: black;
}

a {
    
    display: inline-block;    
    margin-left: 20px;
    color: rgba(0,0,0,0.7)
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase; 
}

a:link    {text-decoration: none;}

h1{
    text-align: center;
    font-size: 72px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    margin-bottom: 20px;
    clear: both;
    padding-top: 20px
}

span{
    display: inline-block;
    padding: .2em .5em;
    border: white solid 10px;
}
.kicker {
    color: rgba(31, 4, 4, 0.79);
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
}

.pure-g {
/*    display: inline-block;*/
/*    width: 70%;*/
    padding-top: 15px;
}

.as {
    line-height: 1;
    padding: 1em;
    background-color: #6eba5a;
    border: white solid 1px;
}


p {
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

.as{
    
}

div {
    text-align: center;
}
